@using System.Collections
@using Microsoft.Extensions.DependencyInjection
@using NetCore.Web.AutoGenerateHtmlControl
@using NetCore.Web.AutoGenerateHtmlControl.Attributes


@model NetCore.Web.AutoGenerateHtmlControl.FormViewModel

@inject IServiceProvider ServiceProvider
@using (Html.BeginForm(Model.FormOptions.ActionName, Model.FormOptions.ControllerName, Model.FormOptions.RouteValues, Model.FormOptions.Method, Model.FormOptions.Antiforgery, Model.FormOptions.HtmlAttributes))
{
    foreach (var item in Model.FormItems)
    {
        <div class="form-group">
            @Html.Label(item.Name, item.DisplayName)
            @foreach (var control in item.Controls)
            {
                switch (control.ControlType)
                {
                    case HtmlControlType.Label:
                        @Html.ExLabel(item.Value, control.Format, control.GetAttributes())
                        break;

                    case HtmlControlType.Hidden:
                        @Html.ExHidden(item.Name, item.Value, control.Format, control.GetAttributes())
                        break;

                    case HtmlControlType.TextBox:
                        @Html.ExTextBox(item.Name, item.Value, control.Format, control.GetAttributes())
                        break;

                    case HtmlControlType.Password:
                        @Html.ExPassword(item.Name, item.Value, control.Format, control.GetAttributes())
                        break;

                    case HtmlControlType.TextArea:
                        @Html.ExTextArea(item.Name, item.Value, control.Format, control.GetAttributes())
                        break;

                    case HtmlControlType.DropDownList:
                        var dropDownAttr = (DropDownListAttribute)control;
                        var dropDownDataSource = (ISelectDataSource)ServiceProvider.GetRequiredService(dropDownAttr.DataSource);
                        @Html.ExDropDownList(item.Name, await dropDownDataSource.GetAsync(new[] { item.Value }), dropDownAttr.OptionLabel, control.GetAttributes())
                        break;

                    case HtmlControlType.ListBox:
                        var listBoxAttr = (ListBoxAttribute)control;
                        var listBoxDataSource = (ISelectDataSource)ServiceProvider.GetRequiredService(listBoxAttr.DataSource);
                        if (item.Value is IEnumerable)
                        {
                            @Html.ExListBox(item.Name, await listBoxDataSource.GetAsync(item.Value as IEnumerable<object>), listBoxAttr.OptionLabel, control.GetAttributes())
                        }
                        else
                        {
                            throw new NotSupportedException($"ListBox does not support type {item.Value.GetType()}.");
                        }
                        break;

                    case HtmlControlType.Button:
                        var buttonAttr = (ButtonAttribute)control;
                        @Html.Button(buttonAttr.ButtonText, buttonAttr.GetAttributes())
                        break;
                }

            }
            @Html.ValidationMessage(item.Name)
        </div>
    }
}
